.main-column {

  .main-column-heading {
    margin-bottom: 35px;
    margin-top: -5px;
  }

  h2 {
    margin-bottom: 1.8rem;
  }

  .callout {
    margin-bottom: 52px;

    p {
      margin-bottom: 12px;
    }
  }
}
