// Colours
$black: #23242d;
$orange: #cd7135;
$red: #de5d5c;
$green: #235153;
$background-gray: #e0dedc;

// Typography
$base-text-color: $black;
$base-font-size: 18px;

// Fonts
$gt-walsheim-pro: 'GT Walsheim Pro';
$freight-text-pro: 'freight-text-pro';

// Font weights
$book: 400;
$normal: 400;
$medium: 500;
